
#about-section {
  background-color: rgb(84, 63, 35);
  padding: 50px 0;
}

.img2 {
  width: 100%;
  max-width: 380px;
  height:93vh;
  margin-top:10px;
  padding:20px;
  border-radius: 50px;
  object-fit: cover;
 
}
.text-light {
  color: #ffffff;
  width: 100%;
}

.text-warning {
  color: #ffc107 !important;
}

.h2-head {
  font-size: 2rem;
  margin-bottom: 15px;
}

.p-paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ddd;
}

.about  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about {
  flex: 1;
  text-align: center;
}

.aboutcontent {
  flex: 1.5;
  text-align: left;
}

@media (max-width: 968px) {
  .about {
      flex-direction: column;
      text-align: center;
  }

  .aboutcontent {
      text-align: center;
      padding:20px;
  }

  .img2 {
      max-width:100%;
      max-height:100%;
  }
}


