body{
  overflow: ;
}
#home-section{
    height: 100vh;
    top:0;
    padding-top: 8rem;
    background: linear-gradient(40deg,rgb(18, 17, 17),rgb(195, 158, 158),rgb(43, 86, 129));
  }
@media only screen and (max-width:1024px) {
    #home-section{
        height:100%;
    }   
}  
.img1{
    height:300px;
    border-radius:50%;
    box-shadow:-5px -6px 50px rgb(42, 168, 199); 
}
h3{
    animation:change-content 7s 1s infinite;
}
@keyframes change-content{
    0%{
      font-size: 15px;
      color:white;
      text-transform: uppercase;
    }
    25%{
      font-size: 40px;
      color:white;
    }
    50%{
      font-size: 15px;
      color:white;
     
    }
    100%{
      font-size:20px;
      color:white;
     
    }
  }  