.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  left:0;
  right:0;
  z-index:1000;
}
.nave {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
  width: 100%;
}

.navuser .head {
  color: #fff;
  text-decoration: none;
}
.navuser{
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}

.navuser{
  font-size: 2rem;
  margin: 0;
}

.navmedia {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.menu:hover {
  color: #f0a500;
}

/* Offcanvas styles */
.offcanvas-header {
  background-color: #333;
  color: #fff;
}

.offcanvas-body {
  background-color: #222;
  color: #fff;

}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin: 15px 0;
}

.anger {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.anger:hover {
  color: #f0a500;
}

/* Toggle button styles */
.toggle-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.toggle-btn .bar {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .navmedia {
    display: none; 
  }

  .toggle-btn {
    display: flex; 
  }


}

@media (max-width: 768px) {
  .navmedia {
    display: none; 
  }

  .toggle-btn {
    display: flex; 
  }

  .offcanvas-header {
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center; 
  }

  .anger {
    font-size: 1.4rem; 
  }

  .toggle-btn .bar {
    width: 35px; 
    height: 5px;  
    color: #fff;
  }
}
@media (max-width: 480px) {
  .menu {
    font-size: 1rem; 
  }
  .anger {
    font-size: 1.2rem; 
  }

  .toggle-btn .bar {
    width: 28px;
    height: 4px;
  }
}
