body{
  background-color: black;
}
.footer{
  background-color: rgb(43, 43, 43);
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: aliceblue;
  padding: 0 10px;
}
