#skills-section{
    height:100vh;
    background-color:black;
    align-items: center;
    display: flex; 
    }
.bg{
    font-style:italic;
    box-shadow:-1px -2px 3pxc;
    background-color: #333;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .bg:hover {
    font-style:italic;
    transform: scale(1.1); 
    color: black;
    background-color: #e7e5e5; 
  }
@media only screen and (max-width:1024px) {
#skills-section{
        height:100%;
    }
}
